.btn{height:50px; width:150px;
  font-size: 18px;
  color:#ffffff;
  background-color: dodgerblue;
  border:none;
  padding:5px;
  border-radius: 5px;
}

.quote-box{
  padding:15px 30px 15px 30px;
  margin:40px auto;
  max-width:500px;
  max-height:300px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  } 
  
  p{
    font-family:'Segoe UI';
  font-weight:400;
  font-size: 20px;
}

.my-quote{
  font-family:'Segoe UI';
font-weight:400;
font-size: 30px;
}

body{
  background-color: indigo;  margin:auto;
}